html {
    box-sizing: border-box;
}

*, *::before , *::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

:root {
 --primary-color: #ffef96;  
 --font-color: #50394c; 
}

@font-face {
    font-family: 'Norse Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Norse Regular'), url('Norse.woff') format('woff');
}

body {
    font-family: 'Norse Regular', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}